nav{
    background-color: #207c88;
    height: 85px
}
.header{
    color: ghostwhite;
    text-decoration-line: underline
    
}

.sidenav-trigger{
    color: blueviolet
}

.parallax-container{
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,9)
}

.parallax-container .section{
    width: 100%;
}

@media only screen and (max-width : 992px){
    .parallax-container .section {
        position:  absolute;
        top: 40%
    }
    #index-banner .section{
        top: 10%
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block{
    padding: 0 15px
}

.icon-block .material-icons{
    font-size: inherit
}

.material-icons{
    color: aquamarine
}

footer a{
    color: #207c88
}

.page-footer{
    background-color: #023364
}